.header {
  grid-column: full-start / col-end 6;

  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-row-gap: 1.5rem;
  justify-content: center;

  padding: 8rem;
  padding-top: 4rem;

  background-image: linear-gradient(
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;

  &__logo {
    justify-self: center;

    width: auto;
    height: 3rem;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      display: block;

      height: 1px;

      background-color: currentColor;
    }
  }

  &__brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
  }

  &__brand {
    display: inline-block;

    width: auto;
    height: 2.5rem;

    filter: brightness(70%);
  }
}
