.realtors {
  grid-column: col-start 7 / full-end;

  display: grid;
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center;
  align-content: center;

  padding: 3rem;

  background-color: $color-secondary;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 7rem;

    border-radius: 50%;
  }

  &__text {
    margin-top: -3px;

    text-transform: uppercase;
    color: $color-grey-light-2;
  }
}
