.story {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  &__pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    background-image: linear-gradient(
        rgba(198, 153, 99, 0.5),
        rgba(198, 153, 99, 0.5)
      ),
      url("../images/back.jpg");
  }

  &__img-1 {
    grid-column: 2 / 6;
    grid-row: 2 / 6;

    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  }

  &__img-2 {
    grid-column: 4 / 7;
    grid-row: 4 / 6;

    max-width: 115%;
    width: 115%;

    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 6rem 8vw;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
